<div>
    <div id="welcome-section" style="height:20vh;">
      <div class="intro">
        <h1>Blog</h1>
      </div>
    </div>
    <br>

    <div class="content">

        <div class="search-header">
            <input name='search-field' id="search-field" type='text' style='width:100%;'/>
            <hr/>
        </div>

        <div class="search-menu" hidden>
            <h4>Filters</h4>
            <div class="search-scrollable-group" >
              <div id="tags-section"></div>
            </div>
        </div>

        <div class="search-random" hidden>
            <br>
          <h4>Random</h4>
          <span style="display:inline;white-space:pre-wrap;">Amount  </span><input type="number" id="search-random-no"></input>
          <br><br>
          <button role="button" class="btn btn-secondary" style="float:left;" onclick="searchView.search.randomSelect();searchView.update();">Random Select</button>
        </div>

        <div class="search-main">
            <div id='items-section' class="list-group checked-list-box search-scrollable-group">
                <!-- Customise each item inside using searchsystem.js
                For example:
                <li class="list-group-item" v-for="Q in taggingSystem.found">
          		<input type="checkbox" v-model="taggingSystem.selected[Q]"/>
          		<question-header v-bind:Q="taggingSystem.itemsList[Q]" v-bind:marks="gradingSystem.questionScore(taggingSystem.itemsList[Q].marks)"></question-header>
          		</li>
                -->
            </div>
        </div>
    </div>

    <script>

        var itemFormat = function(checkboxid, item){
            console.log(item);
        	return `<li class="list-group-item">
                <input type='checkbox' hidden id=${checkboxid}>
            <b><a href="${item.fullpath}">
                ${item.name}</a></b><br>
                ${item.date}</li>`;
        };
    </script>
    <script src="js/blogposts.js"></script>
    <script src="js/tagsystem.js"></script>
</div>
